{
    "VAR_Zabbix40AG_WIN_Username": "{{ VAR_Zabbix40AG_WIN_Username }}",
    "VAR_Zabbix40AG_WIN_Password": "{{ VAR_Zabbix40AG_WIN_Password }}",
    "VAR_Zabbix40AG_WIN_ServerAddress": "{{ VAR_Zabbix40AG_WIN_ServerAddress }}",
    "VAR_Zabbix40AG_WIN_Hostname": "{{ VAR_Zabbix40AG_WIN_Hostname }}",
    "VAR_Zabbix40AG_WIN_DisplayName": "{{ VAR_Zabbix40AG_WIN_DisplayName }}",
    "VAR_Zabbix40AG_WIN_HostIP": "{{ VAR_Zabbix40AG_WIN_HostIP }}",
    "VAR_Zabbix40AG_WIN_AgentPort": "{{ VAR_Zabbix40AG_WIN_AgentPort }}",
    "VAR_Zabbix40AG_WIN_SnmpPort": "{{ VAR_Zabbix40AG_WIN_SnmpPort }}",
    "VAR_Zabbix40AG_WIN_HostGroups": "{{ VAR_Zabbix40AG_WIN_HostGroups }}",
    "VAR_Zabbix40AG_WIN_Templates": "{{ VAR_Zabbix40AG_WIN_Templates }}"
}