"VAR_Zabbix40AG_WIN_path": {{ VAR_Zabbix40AG_WIN_path }}
"VAR_Zabbix40AG_WIN_localpkg_src": {{ VAR_Zabbix40AG_WIN_localpkg_src }}
"VAR_Zabbix40AG_WIN_localpkg_dst": {{ VAR_Zabbix40AG_WIN_localpkg_dst }}
"VAR_Zabbix40AG_WIN_APITempPath": {{ VAR_Zabbix40AG_WIN_APITempPath }}
